.background {
  height: 250px;
  width: 250px;
  position: absolute;
  margin: 0 !important;
  bottom: -32px;
  left: -31px;
  background-color: var(--abdubargithubio-amber);
}
.dog1jpgIcon {
  height: 480px;
  flex: 1;
  position: relative;
  max-width: 636px;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.container3,
.vetImageBackground {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.vetImageBackground {
  width: 502px;
  justify-content: flex-start;
  position: relative;
}
.container3 {
  flex: 1;
  padding: 0 var(--padding-11xl);
}
.container1,
.container2,
.container3 {
  justify-content: flex-start;
  box-sizing: border-box;
}
.container2 {
  flex: 0.9636;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
  min-width: 335px;
  max-width: 1320px;
  margin-left: -2px;
}
.container1 {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) 0 0;
  max-width: 100%;
}
.about,
.container,
.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container {
  width: 1320px;
  justify-content: flex-start;
  max-width: 1320px;
}
.about {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--abdubargithubio-poppins-semibold-40-size);
  color: var(--abdubargithubio-shark);
  font-family: var(--abdubargithubio-poppins-regular-16);
}
@media screen and (max-width: 1325px) {
  .container,
  .container2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .dog1jpgIcon {
    max-width: 100%;
  }
  .about {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
